{% extends 'base.html' %}
{% block title %}About Us - Crime RD{% endblock %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">About Us</h1>
                <h6 class="text-center">Learn about our mission, vision, and the team behind this project.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Mission</h2>
                <p class="text-center about-text">Our mission is to empower individuals and communities to understand, report, and respond effectively to cyber security incidents. We believe that a well-informed and vigilant public is crucial in mitigating the impact of cyber threats. We are committed to providing easily accessible tools, resources, and educational material to help anyone, regardless of technical expertise, navigate the complexities of cybersecurity incidents and contribute to a safer digital environment.</p>
            </div>
            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Vision</h2>
                 <p class="text-center about-text">Our vision is to foster a secure and resilient online environment by offering a user-friendly platform that simplifies incident reporting, provides comprehensive educational resources, and promotes collaborative efforts against cybercrime. We aspire to be a leading resource that encourages awareness, proactive measures, and collective responsibility to safeguard our digital world. Through continuous innovation and community involvement, we aim to contribute to a future where everyone can navigate digital spaces safely and confidently.</p>
            </div>
            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Mentors</h2>
                <div class="row justify-content-center">
                <p class="text-center about-text">We are grateful for the guidance and expertise provided by our mentors:</p>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Dr. Nilakshi Jain</h5>
                                <p class="card-text">
                                    <strong>Head of Cybersecurity Department, SAKEC</strong> 
                                </p>
                                <a href="https://www.linkedin.com/in/dr-nilakshi-jain-7593a264/" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Dr. Shwetambari Borade</h5>
                                <p class="card-text">
                                    <strong>Professor, Cybersecurity Department, SAKEC</strong> 
                                </p>
                                <a href="https://www.linkedin.com/in/dr-shwetambari-borade-a05a113b/" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Our Team</h2>
                <p class="text-center about-text">This project is driven by the hard work and dedication of a diverse team:</p>
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Akshat Adavadkar</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Project Manager, Leader & Development Head
                                </p>
                                <a href="https://www.linkedin.com/in/akshat-adavadkar-290971231/" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Drashti Doshi</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Research Head & Backend Developer
                                </p>
                                <a href="https://www.linkedin.com/in/drashti-doshi-bab5781b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Arya Gaikwad</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Backend Developer & Documentation
                                </p>
                                <a href="https://www.linkedin.com/in/arya-gaikwad-a32005232?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Chirag Prajapati</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Backend Developer & Documentation
                                </p>
                                <a href="https://www.linkedin.com/in/chirag-prajapati-938033247?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-12 mx-auto mb-5">
                <h2 class="mb-4 text-center">Project Interns</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Mahesh Annayboeina</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Frontend Developer
                                </p>
                                <a href="https://www.linkedin.com/in/mahesh-annayboeina-06536428b" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Saahil Sawant</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Frontend Developer
                                </p>
                                <a href="https://www.linkedin.com/in/saahil-sawant-9b88b6302?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Shlok Rawat</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Researcher
                                </p>
                                <a href="https://www.linkedin.com/in/shlokrawat/" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card team-card text-center">
                             <div class="card-body">
                                <h5 class="card-title">Ronak Ghadge</h5>
                                <p class="card-text">
                                    <strong>Role:</strong> Researcher
                                </p>
                                <a href="https://www.linkedin.com/in/ronak-ghadge-bb7703318/" class="btn btn-primary">LinkedIn Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}